aiohttp>=3.10
pyytlounge==2.1.2
ssdp==1.3.0
xmltodict==0.13.0
mikeshardmind-async-utils @ git+https://github.com/mikeshardmind/async-utils@a6c2d70

# discord_bot
git+https://github.com/rapptz/discord.py
